<img src="img/legoland.jpg" alt="Drawing" width="1700" height="100"/>

# Import necessary libraries and Connect to TigerGraph

In [1]:
from mySetup import *

# Docker 3.7 

conn=tg.TigerGraphConnection(host='http://0.0.0.0'
        , graphname='legoland'
        , username='tigergraph'
        , password='tigergraph') 

# New TG Cloud 3.8 

#h = 'https://ai2.i.tgcloud.io'
#g = 'legoland'
#s = 'kkpoal84607c0j50f7065a1eivoe3ksr'
#conn=tg.TigerGraphConnection(host=h,graphname=g,gsqlSecret=s)
#conn.getToken(s)

# Set data files default directory

In [2]:
DATADIR = "/Users/Shared/legoland/data/tigergraph/"

# Load Vertices

---
Load the inventories dataframe and  the inventories vertex

---

In [3]:
df_inventories = pd.read_csv(DATADIR+'inventories.csv')
df_inventories['id'] = df_inventories['id'].astype('string')
df_inventories['id'].describe()

count     34608
unique    34608
top           1
freq          1
Name: id, dtype: object

In [4]:
vs_inventories = conn.upsertVertexDataFrame(
      df = df_inventories
    , vertexType = 'inventories'
    , v_id = 'id'
    , attributes = {'version':'version'}
)
print(str(vs_inventories) + ' VERTICES Upserted')

34608 VERTICES Upserted

---
Load parts dataframe. Upsert VERTEX parts

---

In [5]:
df_parts = pd.read_csv(DATADIR + 'parts.tsv', sep='\t')
df_parts[['name','part_material']].describe(include='all')

,name,part_material
count,49128,49128
unique,48680,6
top,"Pen Bead, Square with Matoran Alphabet (Circles and Lines) Print",Plastic
freq,9,45781

In [7]:
vs_parts = conn.upsertVertexDataFrame(
      df = df_parts
    , vertexType = 'parts'
    , v_id = 'part_num'
        , attributes={
              'name':'name'
            , 'part_material':'part_material'
         }
)
print(str(vs_parts) + ' VERTICES Upserted')

49128 VERTICES Upserted

---
Load minifigs dataframe and upload minifigs VERTEX

---

In [8]:
df_minifigs = pd.read_csv(DATADIR + 'minifigs.tsv', sep='\t')
df_minifigs[['fig_num', 'name', 'num_parts']].describe(include='all')

           fig_num                        name     num_parts
count        12654                       12654  12654.000000
unique       12654                       12297           NaN
top     fig-000001  Space Police III - Officer           NaN
freq             1                          14           NaN
mean           NaN                         NaN      5.001264
std            NaN                         NaN      4.377218
min            NaN                         NaN      0.000000
25%            NaN                         NaN      4.000000
50%            NaN                         NaN      4.000000
75%            NaN                         NaN      5.000000
max            NaN                         NaN    148.000000

In [9]:
vs_minifigs = conn.upsertVertexDataFrame(
      df = df_minifigs
    , vertexType = 'minifigs'''
    , v_id = 'fig_num'
        , attributes={
              'name':'name'
            , 'num_parts':'num_parts'
            , 'img_url':'img_url'
         }
)
print(str(vs_minifigs) + ' VERTICES Upserted')

12654 VERTICES Upserted

---
Load sets dataframe and upload sets VERTEX

---

In [10]:
df_sets = pd.read_csv(DATADIR + 'sets.tsv', sep='\t')
df_sets['year'] = df_sets['year'].astype('string')
df_sets['theme_id'] = df_sets['theme_id'].astype('string')
df_sets[['set_num', 'name', 'year', 'theme_id', 'num_parts']].describe(include='all')

       set_num                name   year theme_id     num_parts
count    33060               33060  33060    33060  33060.000000
unique   33060               30144     73      459           NaN
top      001-1  Basic Building Set   2021      158           NaN
freq         1                  57   1291      876           NaN
mean       NaN                 NaN    NaN      NaN    126.642377
std        NaN                 NaN    NaN      NaN    324.165042
min        NaN                 NaN    NaN      NaN      0.000000
25%        NaN                 NaN    NaN      NaN     12.000000
50%        NaN                 NaN    NaN      NaN     52.000000
75%        NaN                 NaN    NaN      NaN    118.000000
max        NaN                 NaN    NaN      NaN  11695.000000

In [11]:
vs_sets = conn.upsertVertexDataFrame(
      df = df_sets
    , vertexType = 'sets'
    , v_id = 'set_num'
        , attributes={
              'name':'name'
            , 'year':'year'
            , 'num_parts':'num_parts'
            , 'img_url':'img_url'
         }
)
print(str(vs_sets) + ' VERTICES Upserted')

33060 VERTICES Upserted

---
Load part_categories dataframe and upload part_categories VERTEX

---

In [12]:
df_part_categories = pd.read_csv(DATADIR + 'part_categories.tsv', sep='\t')
df_part_categories[['name']].describe(include='all')

              name
count           66
unique          66
top     Baseplates
freq             1

In [13]:
vs_part_categories = conn.upsertVertexDataFrame(
      df = df_part_categories
    , vertexType = 'part_categories'
    , v_id = 'id'
        , attributes={
              'name':'name'
         }
)
print(str(vs_part_categories) + ' VERTICES Upserted')

66 VERTICES Upserted

---
Load elements dataframe and upload elements VERTEX

---

In [14]:
df_elements = pd.read_csv(DATADIR + 'elements.csv')
df_elements['element_id'] = df_elements['element_id'].astype('string')
df_elements[['element_id']].describe(include='all')

       element_id
count       74170
unique      74170
top       6300211
freq            1

In [15]:
vs_elements = conn.upsertVertexDataFrame(
      df = df_elements
    , vertexType = 'elements'
    , v_id = 'element_id'
        , attributes={
              'element_id':'element_id'
         }
)
print(str(vs_elements) + ' VERTICES Upserted')

74170 VERTICES Upserted

---
Load themes dataframe and upload themes VERTEX

---

In [16]:
df_themes = pd.read_csv(DATADIR + 'themes.csv')
df_themes['id'] = df_themes['id'].astype('string')
df_themes['parent_id'] = df_themes['parent_id'].astype('string')
df_themes[['id', 'parent_id', 'name']].describe(include='all')

         id parent_id          name
count   459       318           459
unique  459        54           376
top       1     535.0  Supplemental
freq      1        41             7

In [17]:
vs_themes = conn.upsertVertexDataFrame(
      df = df_themes
    , vertexType = 'themes'
    , v_id = 'id'
        , attributes={
              "name":"name"
         }
)
print(str(vs_themes) + " VERTICES Upserted")

459 VERTICES Upserted

---
Load colors dataframe and upload colors VERTEX

---

In [19]:
df_colors = pd.read_csv(DATADIR + 'colors.csv')
df_colors['id'] = df_colors['id'].astype('string')
df_colors['is_trans'] = df_colors['is_trans'].apply(lambda input: input=="t")
df_colors[['id', 'name', 'rgb', 'is_trans']].describe(include='all')

         id       name     rgb is_trans
count   217        217     217      217
unique  217        217     189        2
top      -1  [Unknown]  05131D        f
freq      1          1       5      179

In [20]:
vs_colors = conn.upsertVertexDataFrame(
      df = df_colors
    , vertexType = 'colors'
    , v_id = 'id'
        , attributes={
              'name':'name'
            , 'rgb':'rgb'
            , 'is_trans':'is_trans'
         }
)
print(str(vs_colors) + ' VERTICES Upserted')

217 VERTICES Upserted

# Load Edges

---
Load **inventory2minifigs** dataframe and upload **inventory_minifigs** EDGE

---

In [25]:
df_inventory2minifigs = pd.read_csv(DATADIR + 'inventory_minifigs.csv')
df_inventory2minifigs['inventory_id'] = df_inventory2minifigs['inventory_id'].astype('string')
df_inventory2minifigs[['inventory_id', 'fig_num', 'quantity']].describe(include='all')

       inventory_id     fig_num      quantity
count         19206       19206  19206.000000
unique         7777       12387           NaN
top           42856  fig-002229           NaN
freq             69          42           NaN
mean            NaN         NaN      1.064980
std             NaN         NaN      0.810595
min             NaN         NaN      1.000000
25%             NaN         NaN      1.000000
50%             NaN         NaN      1.000000
75%             NaN         NaN      1.000000
max             NaN         NaN    100.000000

In [26]:
e_inventory_minifigs = conn.upsertEdgeDataFrame(
    df_inventory2minifigs, 'inventories', 'inventory_minifigs', 'minifigs'
  , from_id='inventory_id', to_id='fig_num'
  , attributes = {'quantity':'quantity'}
)
print(str(e_inventory_minifigs) + ' Edges Upserted')

19206 Edges Upserted

---
Load **parts2elements** dataframe and upload **parts_to_elements** EDGE

---

In [27]:
e_parts2elements = conn.upsertEdgeDataFrame(
    df_elements, 'parts', 'parts_to_elements', 'elements'
  , from_id='part_num', to_id='element_id'
  , attributes={}
)
print(str(e_parts2elements) + ' Edges Upserted')

74170 Edges Upserted

---
Load **inventory2parts** dataframe and upload **inventory_parts** EDGE

---

In [29]:
# Check if there are null values and count them
# df_inventory2parts['img_url'].isna().sum()
df_inventory2parts = pd.read_csv(DATADIR + 'inventory_parts.csv')
# Replace nulls otherwise the upsertEdgeDataFrame function fails
df_inventory2parts['img_url'].fillna('N/A', inplace=True)
df_inventory2parts['inventory_id'] = df_inventory2parts['inventory_id'].astype('string')
df_inventory2parts['part_num'] = df_inventory2parts['part_num'].astype('string')
df_inventory2parts['color_id'] = df_inventory2parts['color_id'].astype('string')
df_inventory2parts[['inventory_id', 'part_num', 'color_id']].describe(include='all')

       inventory_id part_num color_id
count       1076422  1076422  1076422
unique        30333    46991      204
top           42856     6141        0
freq           1554    28052   193077

In [30]:
e_inventory_parts = conn.upsertEdgeDataFrame(
    df_inventory2parts, 'inventories', 'inventory_parts', 'parts'
  , from_id='inventory_id', to_id='part_num'
  , attributes = {'quantity':'quantity', 'is_spare':'is_spare', 'img_url':'img_url'}
)
print(str(e_inventory_parts) + ' Edges Upserted')

789716 Edges Upserted

---
Load **categ2parts** dataframe and upload **part_categories_to_parts** EDGE

---

In [31]:
e_categ2parts = conn.upsertEdgeDataFrame(
    df_parts, 'part_categories', 'part_categories_to_parts', 'parts'
  , from_id='part_cat_id', to_id='part_num'
  , attributes = {}
)
print(str(e_categ2parts) + ' Edges Upserted')

49128 Edges Upserted

---
Upload **themes_to_sets** EDGE from **sets** dataframe

---

In [32]:
e_theme2sets = conn.upsertEdgeDataFrame(
    df_sets, 'themes', 'themes_to_sets', 'sets'
  , from_id='theme_id', to_id='set_num'
  , attributes = {}
)
print(str(e_theme2sets) + ' Edges Upserted')

33060 Edges Upserted

---
Load **inventory2sets** dataframe and upload **part_categories_to_parts** EDGE

---

In [34]:
df_inventory2sets = pd.read_csv(DATADIR + 'inventory_sets.csv')
df_inventory2sets[['inventory_id', 'set_num', 'quantity']].describe(include='all')

         inventory_id set_num     quantity
count     3986.000000    3986  3986.000000
unique            NaN    2963          NaN
top               NaN  7241-1          NaN
freq              NaN      12          NaN
mean     41624.325389     NaN     1.821124
std      48918.576866     NaN     5.824826
min         35.000000     NaN     1.000000
25%       7277.250000     NaN     1.000000
50%      14948.000000     NaN     1.000000
75%      77926.750000     NaN     1.000000
max     158574.000000     NaN    60.000000

In [35]:
e_inventory_sets = conn.upsertEdgeDataFrame(
    df_inventory2sets, 'inventories', 'inventory_sets', 'sets'
  , from_id='inventory_id', to_id='set_num'
  , attributes = {'quantity':'quantity'}
)
print(str(e_inventory_sets) + ' Edges Upserted')

3986 Edges Upserted

---
Upload **part_categories_to_parts** EDGE from **themes** dataframe

---

In [38]:
e_theme2sets = conn.upsertEdgeDataFrame(
    df_themes, 'themes', 'themes_to_themes', 'themes'
  , from_id='id', to_id='parent_id'
  , attributes = {}
)
print(str(e_theme2sets) + ' Edges Upserted')

459 Edges Upserted

---
Upload **colors_to_elements** EDGE from **elements** dataframe

---

In [39]:
e_colors2elements = conn.upsertEdgeDataFrame(
    df_elements, 'colors', 'colors_to_elements', 'elements'
  , from_id='color_id', to_id='element_id'
  , attributes={}
)
print(str(e_colors2elements) + ' Edges Upserted')

74170 Edges Upserted

---
Load **parts2parts** dataframe and upload **parts_to_parts** EDGE

---

In [41]:
df_parts2parts = pd.read_csv(DATADIR + 'part_relationships.csv')
df_parts2parts[['child_part_num', 'parent_part_num', 'rel_type']].describe(include='all')

       child_part_num parent_part_num rel_type
count           27534           27534    27534
unique          25089            4308        6
top              3814           3626c        P
freq               23            2558    22012

In [42]:
e_parts2parts = conn.upsertEdgeDataFrame(
    df_parts2parts, 'parts', 'parts_to_parts', 'parts'
  , from_id='parent_part_num', to_id='child_part_num'
  , attributes = {'rel_type':'rel_type'}
)
print(str(e_parts2parts) + ' Edges Upserted')

27534 Edges Upserted